<div class="container">

  <h1>Todo Application</h1>

  <div class="add-todo">

    <input
      type="text"
      [(ngModel)]="newTodoTitle"
      placeholder="Enter a todo"
      (keyup.enter)="addTodo()"
    />

    <button (click)="addTodo()">
      Add Todo
    </button>

  </div>

  <div class="todo-list">

    @if (todos.length === 0) {

      <p class="empty">
        No todos available.
      </p>

    } @else {

      @for (todo of todos; track todo.id) {

        <div class="todo-item">

          <input
            type="checkbox"
            [(ngModel)]="todo.completed"
            (change)="toggleTodo(todo)"
          />

          <span [class.completed]="todo.completed">
            {{ todo.title }}
          </span>

          <button
            class="delete-button"
            (click)="deleteTodo(todo.id)"
          >
            Delete
          </button>

        </div>

      }

    }

  </div>

</div>

